*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.debug{
 background-color: aquamarine;
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

section{
  width: 100%;
}

.container{
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
    
}

.box-col{
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.box{
  width: 30%;
  
  margin-top: 50px;
}
/* qui finiscono gli stili generici della pagina e iniziano gli stili particolari */


/* stili header */


header{
width: 100%;
height: 100px;
justify-content: space-between;
align-items: center;
position: fixed;
z-index: 999;
top: 0;
background-color: white;
}

.head-menu{
  width: 30%;
}

.head-menu span{
  margin-left: 30px;
}

.btn-blu{
  color: white;
  background-color: rgb(44, 44, 232);
  padding: 10px 15px;
}

/* stili jumbotron */
.section-j{
  width: 100%;
   
  background-color: rgb(172, 216, 255);
  margin-top: 100px;
  position: relative;
}


.jumbo{
  width: 60%;
  margin: 0 auto;
}

h1{
  font-size: 5rem;
}

.sotto-j{
  width: 40%;
}

.sotto-j p{
  margin-top: 50px;
  margin-bottom: 50px;
}

#arrow{
  font-size: 5rem;
}

#jumbo-png{
  position: absolute;
  width: 600px;
  bottom: -50px;
  right: 400px;
 
}

/* qui finiscono gli stili relativi al jumbotron e iniziano gli stili per il main */

h2{
  font-size: 3rem;
  margin-bottom: 50px;
}

.choice1{
  margin-top: 60px;
}
.choice2{
  margin-top: 60px;
  margin-left: 40px;
}

.fa-solid{
  margin-right: 10px;
}
.faso{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.boxc {
  width: 30%;
  height: 800px;
  border-top: none;

}

h3{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h5{
  color: rgb(155, 155, 155);
  margin-top: 20px;
  margin-bottom: 20px;
}
.contenuto{
  margin-left: 20px;
  margin-top: 30px;
}