*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  
}

.debug{
 border: 1px solid rgb(175, 175, 175);
}

.erdebug{
  background-color: aquamarine;
  border: 1px solid rgb(172, 57, 57);
}
.d-flex{
  display: flex;
}

section{
  width: 100%;
}

.container{
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
    
}

.box-col{
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.box{
  width: 30%;
  
  margin-top: 50px;
}
/* qui finiscono gli stili generici della pagina e iniziano gli stili particolari */


/* stili header */


header{
width: 100%;
height: 100px;
justify-content: space-between;
align-items: center;
position: fixed;
z-index: 999;
top: 0;
background-color: white;
}

.head-menu{
  width: 40%;
  justify-content: space-between;
  margin-top: 40px;
}

nav ul li a{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  padding-bottom: 35px;
}
.dx-menu{
  justify-content: end;
}

  

.btn-blu{
  color: white;
  background-color: rgb(44, 44, 232);
  padding: 10px 15px;
}

/* stili jumbotron */
.section-j{
  width: 100%;
   
  background-color: rgb(172, 216, 255);
  margin-top: 100px;
  position: relative;
}


.jumbo{
  width: 60%;
  margin: 0 auto;
}

h1{
  font-size: 5rem;
}

.sotto-j{
  width: 40%;
}

.sotto-j p{
  margin-top: 50px;
  margin-bottom: 50px;
}

#arrow{
  font-size: 5rem;
}

#jumbo-png{
  position: absolute;
  width: 900px;
  bottom: -100px;
  right: 150px;
  
}

/* qui finiscono gli stili relativi al jumbotron e iniziano gli stili per il main */


.choice1{
  margin-top: 60px;
}
.choice2{
  margin-top: 60px;
  margin-left: 40px;
}

.fa-solid{
  margin-right: 10px;
}
.faso{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.boxc {
  width: 30%;
  
  border-top: none;
}

h2{
  font-size: 3rem;
  margin-bottom: 50px;
}


h3{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.list-title{
  margin-top: 60px;
  margin-bottom: 60px;
}
h5{
  color: rgb(155, 155, 155);
  margin-top: 20px;
  margin-bottom: 20px;
}
.contenuto{
  margin-left: 20px;
  margin-top: 30px;
}


p{
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-blu.prova{
  margin-top: 60px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 60px;
}

.acquista-ora{
  text-decoration: underline;
  color: rgb(85, 2, 162);
  
}

ul li{
  list-style: none;
  margin-bottom: 30px;
}


/* stili per i diversi box e immagini */

.n-container{
  width: 50%;
  margin: 0 auto;
  border-top: none;

}

.n-box{
  width: 70%;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.contattaci{
   width: 80%;
   margin-left: 10%;
   margin-top: 30px;
}

#partner{
  width: 100%;
}

.btn-bianco{
  border: 1px solid black;
  background-color: white;
  padding: 10px 15px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.business-img{
  width: 100%;
}

.section-square{
  width: 33.333%;
  margin-top: 150px;
  
  flex-wrap: wrap;
  aspect-ratio: 1/1;
}

.square{
 width: 50%;
 height: 50%;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.client-img{
  width:40% ;

 }

.semihr{
  margin-top: 60px;
  margin-bottom: 60px;
  width: 30%;
  margin-left: 20px;
}

.client-img{
  filter: invert(1);
}

.semihr-card{
  margin-top: 60px;
  margin-bottom: 60px;
  width: 30%;
  
}

/* qui andiamo a definire il colore di sfondo dei singoli quadrati */

#bgdesignit{
  background-color: rgb(97, 209, 170);
}

#bgasu{
  background-color: rgb(102, 11, 11);
}

#bgflorida{
  background-color: rgb(40, 144, 255);
}

#bgtopps{
  background-color: rgb(252, 30, 30);
}

#bgbicycle{
background-color: rgb(225, 2, 2);
}

#bghearst{
background-color: rgb(161, 223, 252);
}

#bglonely{
background-color: rgb(0, 0, 167);
}

#bgclear{
background-color: rgb(240, 240, 0);
}

.bgjumbo{
   background-color: rgb(172, 216, 255);
   
   justify-content: center;
   align-items: center;
}

#invito{
color: rgb(75, 4, 4);
margin-top: 50px;
}

.btn-bianco2{
  
  background-color: white;
  padding: 10px 15px;
  width: 60%;
  margin-left: 10%;
  text-align: center;
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

.faq{
  justify-content: space-between;
}

footer{
  margin-top: 150px;
  background-color: black;
  color: white;
}

.footer-col{
  width: 20%;
  margin-bottom: 30px;
  margin-top: 60px;
}


strong{
  font-size: 1.5rem;
}

.semihr-foot{
  margin-top: 80px;
  width: 15%;
  margin-left: 475px;
  color: white;
}

.fa-caret-up{
  margin-left: 20px;
}

#language{
  margin-bottom: 60px;
}


/* effetti hover e active  */

.section-square .middle{
  overflow: auto;
}



.btn-blu:hover{
  cursor: pointer;
  filter: opacity(.4);
}

.btn-bianco,.btn-bianco2{
  cursor: pointer;
}

.check-list{
  position: relative;
  margin-left: 30px;
}

.fa-check{
  color: rgb(48, 48, 248);
  position: absolute;right: 240px;

}

.card-list{
  position: relative;
  margin-left: 30px;
}

.card-icons{
  position: absolute;
  position: absolute;right: 240px;
}

.square:active,.square.active{
 
  border: 10px rgba(255, 255, 255, 0.5) solid;
}
.square:hover{
  cursor: pointer;
}

nav ul li a:hover{
  border-bottom: 2px solid black;
}

